{% extends 'base.html.twig' %}

{% block title %}Hello E-Commerce Site!{% endblock %}

{% block body %}
<h1>Registration !</h1>

{{ form_start(form) }}

{{ form_row(form.username, {'label': 'User Name','attr' : {'placeholder': "User name"}}) }}
{{ form_row(form.email, {'label': 'Mail adress','attr' : {'placeholder': "Mail adress"}}) }}
{{ form_row(form.password, {'label': 'Password','attr' : {'placeholder': "Password"}}) }}
{{ form_row(form.confirm_password, {'label': 'Confirm Password','attr' : {'placeholder': "Repeat your password"}}) }}

<button type="submit" class="btn btn-success">Register</button>

{{ form_end(form) }}

{% endblock %}